USE [master]
GO
/****** Object:  Database [1000DevelopV2]    Script Date: 27.11.2017 13:49:44 ******/
CREATE DATABASE [1000DevelopV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'1000DevelopV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DB1000\MSSQL\DATA\1000DevelopV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'1000DevelopV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DB1000\MSSQL\DATA\1000DevelopV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [1000DevelopV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [1000DevelopV2]
GO
USE [1000DevelopV2]
GO
/****** Object:  Table [dbo].[DIMENSIONEN]    Script Date: 27.11.2017 13:49:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSIONEN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kategorie_id] [int] NOT NULL,
	[namen] [varchar](30) NOT NULL,
	[einheit] [varchar](30) NOT NULL,
	[beschreibung] [varchar](200) NULL,
 CONSTRAINT [PK_DIMENSIONEN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORIEN]    Script Date: 27.11.2017 13:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORIEN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[namen] [varchar](50) NOT NULL,
 CONSTRAINT [PK_KATEGORIEN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSWERTE]    Script Date: 27.11.2017 13:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSWERTE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[person_id] [int] NOT NULL,
	[mr_id] [int] NOT NULL,
	[source_id] [int] NOT NULL,
	[dimension_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[wert] [decimal](38, 25) NULL,
 CONSTRAINT [PK_MESSWERTE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MR]    Script Date: 27.11.2017 13:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MR](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kuerzel] [varchar](3) NOT NULL,
	[bezeichnung] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MR] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 27.11.2017 13:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prefix] [varchar](4) NOT NULL,
	[suffix] [varchar](4) NOT NULL,
	[typ] [int] NOT NULL,
 CONSTRAINT [PK_PERSON] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON_PERSON]    Script Date: 27.11.2017 13:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON_PERSON](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stillend_id] [int] NOT NULL,
	[id_m] [int] NOT NULL,
	[id_k] [int] NOT NULL,
 CONSTRAINT [PK_PERSON_PERSON] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLLEN]    Script Date: 27.11.2017 13:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLLEN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[beschreibung] [varchar](20) NULL,
 CONSTRAINT [PK_ROLLEN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOURCE]    Script Date: 27.11.2017 13:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOURCE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[namen] [varchar](30) NOT NULL,
 CONSTRAINT [PK_SOURCE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 27.11.2017 13:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[text] [varchar](10) NOT NULL,
	[beschreibung] [varchar](50) NOT NULL,
	[null_zulassen] [bit] NOT NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STILLEND]    Script Date: 27.11.2017 13:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STILLEND](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stillend] [bit] NULL,
	[beschreibung] [varchar](50) NOT NULL,
 CONSTRAINT [PK_STILLEND] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYP]    Script Date: 27.11.2017 13:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYP](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[buchstabe] [varchar](1) NOT NULL,
	[typ] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TYP] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 27.11.2017 13:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[password] [varchar](30) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLLEN]    Script Date: 27.11.2017 13:49:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLLEN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[rollen_id] [int] NOT NULL,
 CONSTRAINT [PK_USER_ROLLEN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIMENSIONEN]  WITH CHECK ADD  CONSTRAINT [FK_DIMENSIONEN_KATEGORIEN] FOREIGN KEY([kategorie_id])
REFERENCES [dbo].[KATEGORIEN] ([id])
GO
ALTER TABLE [dbo].[DIMENSIONEN] CHECK CONSTRAINT [FK_DIMENSIONEN_KATEGORIEN]
GO
ALTER TABLE [dbo].[MESSWERTE]  WITH CHECK ADD  CONSTRAINT [FK_MESSWERTE_DIMENSIONEN] FOREIGN KEY([dimension_id])
REFERENCES [dbo].[DIMENSIONEN] ([id])
GO
ALTER TABLE [dbo].[MESSWERTE] CHECK CONSTRAINT [FK_MESSWERTE_DIMENSIONEN]
GO
ALTER TABLE [dbo].[MESSWERTE]  WITH CHECK ADD  CONSTRAINT [FK_MESSWERTE_MR] FOREIGN KEY([mr_id])
REFERENCES [dbo].[MR] ([id])
GO
ALTER TABLE [dbo].[MESSWERTE] CHECK CONSTRAINT [FK_MESSWERTE_MR]
GO
ALTER TABLE [dbo].[MESSWERTE]  WITH CHECK ADD  CONSTRAINT [FK_MESSWERTE_PERSON] FOREIGN KEY([person_id])
REFERENCES [dbo].[PERSON] ([id])
GO
ALTER TABLE [dbo].[MESSWERTE] CHECK CONSTRAINT [FK_MESSWERTE_PERSON]
GO
ALTER TABLE [dbo].[MESSWERTE]  WITH CHECK ADD  CONSTRAINT [FK_MESSWERTE_SOURCE] FOREIGN KEY([source_id])
REFERENCES [dbo].[SOURCE] ([id])
GO
ALTER TABLE [dbo].[MESSWERTE] CHECK CONSTRAINT [FK_MESSWERTE_SOURCE]
GO
ALTER TABLE [dbo].[MESSWERTE]  WITH CHECK ADD  CONSTRAINT [FK_MESSWERTE_STATUS] FOREIGN KEY([status_id])
REFERENCES [dbo].[STATUS] ([id])
GO
ALTER TABLE [dbo].[MESSWERTE] CHECK CONSTRAINT [FK_MESSWERTE_STATUS]
GO
ALTER TABLE [dbo].[PERSON]  WITH CHECK ADD  CONSTRAINT [FK_PERSON_TYP] FOREIGN KEY([typ])
REFERENCES [dbo].[TYP] ([id])
GO
ALTER TABLE [dbo].[PERSON] CHECK CONSTRAINT [FK_PERSON_TYP]
GO
ALTER TABLE [dbo].[PERSON_PERSON]  WITH CHECK ADD  CONSTRAINT [FK_PERSON_PERSON_PERSON] FOREIGN KEY([id_m])
REFERENCES [dbo].[PERSON] ([id])
GO
ALTER TABLE [dbo].[PERSON_PERSON] CHECK CONSTRAINT [FK_PERSON_PERSON_PERSON]
GO
ALTER TABLE [dbo].[PERSON_PERSON]  WITH CHECK ADD  CONSTRAINT [FK_PERSON_PERSON_PERSON1] FOREIGN KEY([id_k])
REFERENCES [dbo].[PERSON] ([id])
GO
ALTER TABLE [dbo].[PERSON_PERSON] CHECK CONSTRAINT [FK_PERSON_PERSON_PERSON1]
GO
ALTER TABLE [dbo].[PERSON_PERSON]  WITH CHECK ADD  CONSTRAINT [FK_PERSON_PERSON_STILLEND] FOREIGN KEY([stillend_id])
REFERENCES [dbo].[STILLEND] ([id])
GO
ALTER TABLE [dbo].[PERSON_PERSON] CHECK CONSTRAINT [FK_PERSON_PERSON_STILLEND]
GO
ALTER TABLE [dbo].[USER_ROLLEN]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLLEN_ROLLEN] FOREIGN KEY([rollen_id])
REFERENCES [dbo].[ROLLEN] ([id])
GO
ALTER TABLE [dbo].[USER_ROLLEN] CHECK CONSTRAINT [FK_USER_ROLLEN_ROLLEN]
GO
ALTER TABLE [dbo].[USER_ROLLEN]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLLEN_USER] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([id])
GO
ALTER TABLE [dbo].[USER_ROLLEN] CHECK CONSTRAINT [FK_USER_ROLLEN_USER]
GO
USE [master]
GO
